<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ufinder demo</title>
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/ufinder/ufinder.css"/>
</head>
<body>
<div id="container"></div>
<script src="/static/js/ufinder/ufinder.config.js"></script>
<script src="/static/js/ufinder/ufinder.js"></script>
<script src="/static/js/ufinder/zh-cn.js"></script>
<script>
    $(function () {
        window.uf = UF.getUFinder('container');
    });
</script>
</body>
</html>