<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>临时云-注册</title>
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/loginstyle.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/vector.js"></script>
</head>
<body>

<div id="container">
    <div id="output">
        <div class="containerT">
            <h1>用户注册</h1>
            <h2>{{.Msg}}</h2>
            <form class="form" id="entry_form" method="post">
                <input name="username" type="text" placeholder="用户名" id="entry_name">
                <input name="email" type="email" placeholder="邮箱" id="entry_email">
                <input name="password" type="password" placeholder="密码" id="entry_password">
                <input name="vpassword" type="password" placeholder="确认密码" id="entry_vpassword">
                <button type="submit" id="entry_btn">注册</button>
                <div id="prompt" class="prompt"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Victor("container", "output");   //注册背景函数
    });
</script>
<div style="text-align:center;">
</div>
</body>
</html>